.widget {
  @include widget-outer;
}

.grid {
  &__value {
    grid-column: span 2;
  }

  &__gain {
    grid-column: span 2;
  }
}

.numberedItem {
  display: flex;
  justify-content: center;
  align-items: center;

  &__number {
    min-width: 4rem;
    font-size: 3.2rem;
    margin-right: 2rem;
  }
}
