.widget {
  @include widget-outer;

  &__search {
    width: 100%;
    height: $widget-input-height;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;

    > :not(:last-child) {
      margin-right: 2rem;
    }

    > :first-child {
      flex: 1;
    }
  }

  &__list {
    height: calc(100% - #{$widget-header-height} - #{$widget-input-height});
    width: 100%;
  }
}

.players {
  grid: {
    column: 1;
    row: 1 / -1;
  }
}

.details {
  grid: {
    column: 2;
    row: 1 / -1;
  }
}
