.accentedText {
  color: $color-accent;
}

.container {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}
.widget {
  @include widget-outer;

  &_search {
    width: 100%;
    height: $widget-input-height;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    > :not(:last-child) {
      margin-right: 2rem;
    }

    > :first-child {
      flex: 1;
    }
  }

  &_list {
    height: calc(100% - #{$widget-header-height} - #{$widget-input-height});
    width: 100%;
  }
}
