.button {
  font-size: inherit;
  border: none;
  background-color: $color-accent;
  color: $color-secondary;
  cursor: pointer;
  padding: 1rem 3rem;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: $shadow-light;
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}
