.sizeDefault {
  @include button;
}

.sizeSmall {
  @include button;
  padding: 0 1rem;
  height: 100%;
}

.colorDefault {
  color: $color-secondary;
  background-color: $color-accent;
}

.colorLight {
  color: $color-secondary;
  background-color: $color-primary-light;
}

.colorDark {
  color: $color-secondary;
  background-color: $color-primary-dark;
}
