.container {
  max-width: 60rem;
  min-height: 40rem;
}

.widget {
  @include widget-outer;
  justify-content: center;
}

.icon {
  color: $color-accent;
  fill: currentColor;
  height: 15rem;
  width: 15rem;
}

.highlight {
  color: $color-accent;
}
