.section {
  @include landing-section;
}

.overview {
  background-color: $color-primary-dark;
}

.tournaments {
  background-color: $color-primary;
}

.prizes {
  background-color: $color-primary-light;
}

.contact {
  background-color: $color-accent;
}
