.container {
  &_overview {
    @include landing-section;
    background-color: $color-primary-dark;
  }

  &_tournaments {
    @include landing-section;
    background-color: $color-primary;
  }

  &_prizes {
    @include landing-section;
    background-color: $color-primary-light;
  }

  &_contact {
    @include landing-section;
    background-color: $color-accent;
  }
}
