.layout {
  width: 100%;
  height: calc(100vh - #{$header-height});
  background-color: $color-primary-dark;
  color: $color-secondary;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
