.player {
  @include widget-inner;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  max-height: 10rem;

  &__image {
    height: 6rem;
    width: 6rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
  }

  &__name {
    font-size: 2.8rem;
    padding-left: 3rem;
    margin-right: auto;
    line-height: 1.2;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;

    display: none;
  }

  &__value {
    font-size: 3.6rem;
    font-weight: 900;
    text-align: right;
    line-height: 1;
    color: $color-accent;

    &--negative {
      color: $color-complement;
    }

    &--neutral {
      color: $color-secondary;
    }
  }

  $this: &;

  &--selected {
    background-color: $color-accent;
    box-shadow: $shadow-light;

    #{$this}__value {
      color: $color-primary;
    }
  }

  &--small {
    padding: 1.2rem 2rem;
    max-height: 8.4rem;

    #{$this}__name {
      font-size: 2.4rem;
      padding-left: 2rem;
    }

    #{$this}__value {
      font-size: 2.8rem;
      font-weight: 700;
    }
  }
}
