.widget {
  @include widget-outer;
}

.player {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__value {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 6.4rem;
    font-weight: 600;
    color: $color-accent;
  }
}

.asset {
  width: 100%;
  height: auto;
  display: grid;
  grid-template: {
    columns: repeat(2, 1fr);
  }
}

.infoLabel {
  color: $color-accent;
}
