.player {
  @include widget;
  background-color: $color-primary-light;
  box-shadow: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;

  &_image {
    height: 6rem;
    border-radius: 1rem;
    overflow: hidden;

    img {
      height: inherit;
    }
  }

  &_name {
    font-size: 2.8rem;
    padding-left: 3rem;
    margin-right: auto;
  }

  &_info {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;

    display: none;
  }

  &_value {
    font-size: 3.6rem;
    font-weight: 900;
    color: $color-accent;
  }

  &_selected {
    background-color: $color-accent;
    box-shadow: $shadow-light;
  }

  &_selected &_value {
    color: $color-primary;
  }
}
