.container {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.scroll {
  width: inherit;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;

  & > :not(:last-child) {
    margin-bottom: $widget-margin-small;
  }
}
