.wrapper {
  background-color: $color-primary-light;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: $color-primary;
  width: 100%;
  max-width: 120rem;
  height: 100%;
  max-height: 80rem;
  color: $color-secondary;
  display: flex;
}

.form {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30rem;

  &__logo {
    width: 10rem;
    height: 10rem;
    fill: $color-accent;
    cursor: pointer;
  }

  &__wrapper {
    width: inherit;
  }

  &__title {
    font-weight: 900;
  }

  &__error {
    font-size: 1.4rem;
    height: 0;
    color: $color-complement;
    word-break: break-word;
  }
}

.redirect {
  width: 30rem;
  display: flex;
  justify-content: space-between;

  &__link {
    @include text-link;
    text-decoration: underline;
    font-size: inherit;
  }
}

.content {
  background-color: $color-accent;
  flex: 1;
}
