.user {
  display: flex;
  align-items: center;
  cursor: pointer;

  &_balance {
    margin-right: 1rem;
    color: $color-accent;
  }

  &_name {
    @include text-link;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &_photo {
    width: 5rem;
    height: 5rem;
    border: 0.3rem solid $color-accent;
    border-radius: 50%;
  }
}
