// COLORS
$color-primary-dark: #000000;
$color-primary: #232228;
$color-primary-light: #51545b;
$color-secondary: #e0e8f3;
$color-accent: #1fb4a0;
$color-warning: orangered;

// FONTS
$default-font-size: 1.6rem;
