@mixin text-link {
  color: $color-secondary;
  padding: 1rem 0;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  background: transparent;

  &:not(:last-child) {
    margin-right: 3rem;
  }

  &__active,
  &:hover {
    color: $color-accent;
  }
}

@mixin landing-section {
  width: 100%;
  //height: calc(100vh - #{$header-height});
  height: 100vh;
  color: $color-secondary;

  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin widget {
  border-radius: 3rem;
  margin: 1rem 2rem;
  padding: 2rem 3rem;
  overflow: hidden;
  box-shadow: $shadow-light;
}
