// shadows
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);

// header
$header-height: 10rem;

// widget
$widget-header-height: 6rem;
$widget-input-height: 6rem;
$widget-margin-small: 1.2rem;
$widget-margin-default: 3rem;
$widget-margin-large: 5rem;

// viewport size
$vp-medium: 56.25em; // 900px
$vp-small: 37.5em; // 600px;
