// shadows
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);

// header
$header-height: 10rem;

// widget
$widget-header-height: 6rem;
$widget-input-height: 6rem;
